node_modules
adria-admin/node_modules
backend/vendor
backend/node_modules
backend/storage/logs
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/media-library/*
!backend/storage/media-library/.gitignore
backend/.env
backend/.env.production
adria-admin/.env
adria-admin/.env.production
dist
.git
.DS_Store
npm-debug.log
*.log
.venv*
